body {
  font-family: Arial;
}

header {
    margin: auto;
    margin-top: 19px;
    width: 900px;
    height: 30px;
}

.phones,
.login,
.symbols {
    float: left;
}

a {
    text-decoration: none;
    color: #465961;
}

.log,
input,
.link,
.link2,
.bar {
    float: left;
}

.telephone {
    background: linear-gradient(to top, #1e6584, #0c3357);
    border-radius: 100%;
    width: 20px;
    height: 20px;
}

.telephone2 {
    display: inline-block;
    vertical-align: bottom;
    margin-left: -7px;
    margin-bottom: 1px;
    height: 20px;
    transform: rotate(5deg);
}

.telephone3 {
    margin-top: 6px;
    display: inline-block;
    margin-left: 4px;
    height: 18px;
    font-size: 17.5px;
    line-height: 18px;
    letter-spacing: 0.7px;
}


.phones {
    height: 25px;
    color:#5e696d;
    margin-right: 16px;
    margin-left: 10px;

}

.clearfix::after {
    content: " ";
    clear: both;
    display: block;
}

.login {
    width: 494px;
    height: 26px;
    background: linear-gradient(to top, #0d365a, #1f6787);
    border-radius: 4px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    font-family: "Lucida Sans Unicode";
    margin-top: -2px;
}

.log {
    height: 18px;
    margin: 5px 0px 1px 7px;

}

[type="text"] {
    height: 16px;
    padding: 0;
    border: none;
    margin: 5px 5px 0px 4px;
    width: 113px;
    font-size: 11px;
    text-indent: 4px;
    color: #97a2a6;
    font-family: "Lucida Sans Unicode";
}

[type="password"] {
  height: 16px;
  padding: 0;
  border: none;
  margin: 5px 8px 0px 3px;
  width: 113px;
  font-size: 11px;
  text-indent: 4px;
  color: #97a2a6;
  font-family: "Lucida Sans Unicode";
}

.bar {
  font-size: 11px;
  color: white;
  margin-top: 8.5px;
  margin-right: 3px;
}

.link {
    font-size: 11px;
    color: white;
    margin: 8.3px 3px 6px 0px;
    text-decoration: none;
}

.link2 {
    font-size: 11.2px;
    color: #bfbfbf;
    margin: 8.3px 5px 7px 16px;
    text-decoration: underline;
}

.link3 {
    float: left;
    background-color: transparent;
    border: none;
    font-size: 11px;
    color: white;
    margin: 5.3px 3px 6px 0px;
    padding: 0;
    font-family: "Lucida Sans Unicode";
}

.symbols {
    float: right;
    width: 68px;
    height: 13px;
    border: 1px solid #c1c8cb;
    border-radius: 10px;
    padding: 3.5px;
    margin: 0px 0px 0px 10px;
}

.home,
.site_map,
.letter {
  float: left;
}

.home {
  margin: -1.5px 3px 3.5px 3.5px;
}

.site_map {
  margin: 0px 3px 3.5px 6px;
}

.letter {
  height: 10px;
  margin: 1px 3px 3.5px 5px;
}

figure {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 3.5px;
}

figure img {
  height: 237px;
  width: 909px;
}

nav {
    text-align: center;
    height: 34px;
    margin-bottom: 12px;
}

.info {
    display: inline-block;
    color: black;
    width: 911px;
    height: 30px;
    background: linear-gradient(to top, #010101 0%, #2d3236 80%, #4d5663 100%);
    border: 0px solid black;
    padding-top: 4px;
    border-radius: 5px;
    box-shadow: 2px 3px 2px rgba(0,0,0,0.5);
}

.menu,
.stat {
   float: left;
   margin-left: 126px;
}

.menu > a {
   display: inline-block;
   color: #b1bcc0;
   text-decoration: none;
   padding: 7px 18px 4px 21px;
   border-radius: 15px;
   font-size: 14px;
   font-family: "Lucida Sans Unicode";
}

.menu > a:nth-child(2) {
   padding-left: 10px;
   padding-right: 10px;
   margin-right: 5.5px;
}

.menu > a:nth-child(3) {
   padding-left: 10px;
   padding-right: 10px;
   margin-right: 3.5px;
}

.menu > a:nth-child(4) {
   padding-left: 10px;
   padding-right: 10px;
   margin-right: 0px;
}

.menu > a:nth-child(5) {
   padding-left: 9.5px;
   padding-right: 9.5px;
   margin-right: 5.5px;
}

.menu > a:hover {
   background-color: #124366;
}

.stat {
   margin-left: 37px;
   margin-top: 3px;
   vertical-align: middle;
}

.basket {
  vertical-align: middle;
}

.goods,
.goods2 {
  display: inline-block;
  color: #929b9f;
  font-size: 10px;
  margin-top: 0px;
  margin-right: 2px;
  vertical-align: middle;
}

.goods {
  margin-left: 2px;
  letter-spacing: 0.8px;
}

.goods2 {
  word-spacing: 1px;
  letter-spacing: 0.8px;
  margin-right: 10px;
}

.zero,
.zero2 {
  display: inline-block;
  color: #10507e;
  font-size: 13px;
  vertical-align: middle;
  margin-right: 15px;
  font-weight: bold;
}

.zero2 {
  margin-right: 0;
}

section {
   text-align: center;
}

.forms {
    display: inline-block;
}

.car {
    width: 416px;
    height: 132px;
    float: left;
    background-color: white;
    border: 1px solid grey;
    border-radius: 20px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    margin-left: 7px;
}


.line > p {
    font-weight: bold;
    display: inline-block;
}

.forms .car .line p {
    color: #154468;
}

.line {
    text-align: left;
}

.word1 {
    font-size: 11px;
    margin-left: 21px;
    letter-spacing: 1px;
}

.word2_1 {
    font-size: 13px;
    margin-top: 0px;
    margin-left: 59px;
    letter-spacing: 1px;
    height: 15px;
    vertical-align: top;
}

.word2_2 {
  font-size: 13px;
  margin-top: 0px;
  margin-left: 0px;
  letter-spacing: 1px;
  height: 15px;
  vertical-align: top;
}

.word2_3 {
font-size: 13px;
margin-top: 0px;
margin-left: 3px;
letter-spacing: 0.65px;
height: 15px;
vertical-align: top;
}

.word3 {
    font-size: 11px;
    margin-left: 67px;
    margin-top: 2px;
    vertical-align: top;
    letter-spacing: 1px;
}


.forms {
    margin-bottom: 16px;
}

.left {
    width: 209px;
    float: left;
}

.line1 {
   margin-top: 7px;
   margin-left: 17px;
   text-align: left;
}

.span1_1 {
    margin-top: 3px;
    margin-right: 3px;
    font-size: 9.5px;
    float: left;
    margin-left: 1px;
    letter-spacing: 0.5px;
}

.span1_2 {
  font-size: 9px;
  color: #77858b;
  float: left;
  line-height: 9px;
  margin-top: 3px;
}

.select1 {
   width: 101px;
   height: 17px;
   float: right;
   margin-top: -2px;
   vertical-align: top;
   margin-bottom: 2px;
   margin-right: 4px;
}


.line4 {
   text-align: left;
   margin-left: 17px;
}

.line2 {
  text-align: left;
  margin-left: 17px;
  margin-top: 4px;
}

.span2_1 {
    margin-right: 3px;
    font-size: 9.5px;
    float: left;
    margin-left: 1px;
    letter-spacing: 0.5px;
    line-height: 9.5px;
}

.span2_2 {
  font-size: 9px;
  color: #77858b;
  float: left;
  line-height: 9px;
  margin-top: -1.5px;
  letter-spacing: 0.6px;
}

.select2 {
   width: 101px;
   height: 17px;
   float: right;
   margin-top: -2px;
   vertical-align: top;
   margin-bottom: 2px;
   margin-right: 4px;
}

.line3 {
  text-align: left;
  margin-left: 17px;
  margin-top: 4px;
}

.span3_1 {
  margin-right: 3px;
  font-size: 10px;
  float: left;
  margin-left: 1px;
  letter-spacing: 0.5px;
  line-height: 9px;
}

.span3_2 {
  font-size: 9px;
  color: #77858b;
  float: left;
  line-height: 9px;
  margin-top: -1.5px;
  letter-spacing: 0.6px;
}

.span3_3 {
  font-size: 9px;
  color: #77858b;
  float: left;
  line-height: 9px;
  margin-top: -1.5px;
  letter-spacing: 0.6px;
}

.select3 {
   width: 57px;
   height: 17px;
   float: right;
   margin-top: 0px;
   vertical-align: top;
   margin-bottom: 2px;
   margin-right: 48px;
}

.line4 {
   margin-top: 2px;
}

.span4 {
    font-size: 10px;
    float: left;
    line-height: 9px;
    margin-top: 4px;
    letter-spacing: 0.5px;
}

.select4 {
    float: right;
    height: 17px;
    margin-right: 4px;
    width: 101px;
}

.right {
   float: right;
   margin-right: -2px;
   width: 209px;
}

.right .line1 {
   margin-top: 3px;
}

.right .select1 {
   margin-top: -2px;
}

.right .line2 {
   margin-top: 5px;
}

.right .line4 {
   margin-top: 3px;
}

.search {
   margin: 7px 22px 10px 0px;
   text-align: right;
   font-size: 14px;
   color: #154467;
   font-style: italic;
   text-decoration: underline;
}

.search a {
   color: #154467;
}

.tyre {
    width: 192px;
    height: 132px;
    float: left;
    margin-left: 15px;
    background-color: white;
    text-align: left;
    border-radius: 15px;
    border: 1px solid grey;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}

.heading {
    margin-left: 9px;
    font-size: 10px;
    font-weight: bold;
    color: #114165;
    margin-top: 5px;
    letter-spacing: 0.8px;
}

.span5,
.span7 {
    font-size: 10px;
    font-family: "Lucida Sans Unicode";
}

.span5 {
    display: inline-block;
    margin-top: 2px;
}

.span6 {
    font-size: 11px;
    margin-right: 2px;
}

.line5 {
    margin-left: 13px;
    margin-top: 7px;
}

.select5_1,
.select5_2 {
    width: 52px;
    margin-left: 3px;
    margin-top: -6px;
    height: 17px;
}

.line6 {
    margin-top: 7px;
    margin-left: 46px;
}

.select6 {
    width: 45px;
    margin-left: -1px;
}

[type="checkbox"] {
    float: none;
}

.line7 {
    display: flex;
    flex-direction: row;
    margin-left: 13px;
    margin-top: 5px;
}

.span7 {
    margin-right: 8px;
}

.line7 .list1 {
    font-family: "Lucida Sans Unicode";
    font-size: 10px;
    margin-top: -2px;
}

.line7 .list1 div {
    height: 15px;
    vertical-align: middle;
}

.line7 .list1 input {
    vertical-align: middle;
    height: 10px;
}


.line7 .list1 span {
    display: inline-block;
    line-height: 12px;
    vertical-align: middle;
}

.tyre .search {
    margin-top: -2px;
}

.disk {
    height: 132px;
    float: left;
    background-color: white;
    margin-left: 19px;
    border: 1px solid grey;
    border-radius: 15px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    width: 295px;
    position: relative;
    left: -10px;
}

.disk2 {
    width: 295px;
    height: 110px;
    float: left;
    text-align: left;
    position: relative;

}

.left2 {
    margin-left: 15px;
    width: 164px;
    height: 113px;
    float: left;
}

.heading2{
  margin-left: -6px;
  font-size: 11px;
  font-weight: bold;
  color: #114165;
  margin-top: 4.5px;
  margin-bottom: 9px;
  letter-spacing: 0.9px;
}

.line8 {
  margin-top: 2px;
  line-height: 10px;
}

.line9 {
  margin-top: 2px;
  line-height: 10px;
}

.line10 {
  margin-top: 2px;
  line-height: 10px;
}


.span8_1,
.span8_2,
.span9_1,
.span9_2,
.span9_3,
.span10_1,
.span10_2,
.span10_3,
.span10_4 {
    float: left;
    line-height: 10px;
    font-family: "Lucida Sans Unicode";
}

.span8_1,
.span8_2 {
    letter-spacing: 0.6px;
}

.span9_1,
.span9_2,
.span9_3 {
    letter-spacing: 0.6px;
}

.span10_1,
.span10_2,
.span10_3,
.span10_4 {
    letter-spacing: 0.6px;
}


.span8_1,
.span9_1,
.span10_1 {
    font-size: 10px;
    margin-right: 3px;
}

.span8_2,
.span9_2,
.span9_3,
.span10_2,
.span10_3,
.span10_4 {
    font-size: 9px;
    color: #77858b;
}

.select8,
.select9,
.select10 {
    float: right;
    margin-right: 11px;
    height: 16px;
    width: 58px;
}

.select8 {
    margin-top: -3px;
}

.select9 {
    margin-top: 12px;
    width: 50px;
    margin-right: 19px;
}

.select10 {
    margin-top: 14px;
    margin-bottom: 5px;
}

.left3 {
    margin-top: 2px;
    width: 91px;
    height: 106px;
    float: left;
    border-left: 1px solid black;
    padding-left: 10px;
    padding-top: 3px;
}

.p11_1,
.p11_2 {
    font-size: 9px;
    font-family: "Lucida Sans Unicode";
}

.span11_1 {
    display: inline-block;
    font-size: 8px;
    color: #77858b;
    font-family: "Lucida Sans Unicode";
    line-height: 9px;
    letter-spacing: 0.6px;
}

.p11_3 {
    font-size: 8px;
    font-family: "Lucida Sans Unicode";
    color: #77858b;
    letter-spacing: 0.6px;
}

.p11_2 {
    display: inline-block;
    margin-top: 8px;
    margin-right: 10px;
    margin-bottom: -10px;
    line-height: 10px;
}

.select11_1,
.select11_2 {
    width: 57px;
    height: 16px;
    margin-right: 10px;
}

.select11_2 {
    margin-top: 3px;
}

.search3 {
   font-size: 14px;
   color: #154467;
   font-style: italic;
   text-decoration: underline;
   margin-right: 7px;
   position: absolute;
   left: 198px;
   top: 109px;
}

main {
    width: 911px;
    background-color: white;
    margin: auto;
    margin-top: -3px;
}

.catalog {
    float: left;
    width: 192px;
}

.content {
    float: left;
    width: 526px;
    background: linear-gradient(to top, #93a7b0, #e5e7e8);
}

.brands {
    float: left;
    width: 192px;

}

.catalog2 {
    display: inline-block;
    width: 20px;
    height: 20px;
    color: white;
}

.tyre1 a {
    color: #114165;
}

.heading3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 3px;
    border: 1px solid black;
    border-radius: 15px;
    width: 179px;
    height: 24px;
    padding-left: 2px;
    padding-top: 1px;
    box-shadow: 1px 2px 2px rgba(0,0,0,0.5);
}

.catalog3 {
    font-size: 13px;
    font-family: "Lucida Sans Unicode";
    color: #114165;
    margin-left: 3px;
}

.item1_1 {
    background-color: #114165;
    width: 12px;
    height: 12px;
    padding: 5px;
    border-radius: 100%;
    margin-left: 4px;
}

.item2_1,
.item3_1,
.item4_1,
.item5_1 {
    width: 9px;
    height: 9px;
    vertical-align: middle;
    margin-top: -3px;
}

.item1,
.item2,
.item3,
.item4,
.item5 {
    display: inline-block;
    vertical-align: middle;
    font-family: "Lucida Sans Unicode";
}

.item2:hover,
.item3:hover,
.item4:hover,
.item5:hover {
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    color: #0c3256;
    font-size: 14px;
    line-height: 12px;
}

.tyre1 {
    margin-top: 14px;
    border: 1px solid #79878d;
    border-radius: 15px;
    width: 148px;
    height: 22px;
    padding: 2px 0px;
    font-size: 14px;
}


.tyre5 {
    margin-top: 12px;
    margin-left: 35px;
    font-size: 12px;
    letter-spacing: 0.5px;
}

.tyre2 {
    margin-top: 7px;
    margin-left: 35px;
    font-size: 12px;
    letter-spacing: 0.5px;
}

.tyre3 {
    margin-top: 13px;
    margin-left: 35px;
    font-size: 12px;
    letter-spacing: 0.5px;
}

.tyre4 {
    margin-top: 10px;
    margin-left: 35px;
    font-size: 12px;
    letter-spacing: 0.5px;
}

.tyre6 {
    margin-top: 4px;
    border: 1px solid #79878d;
    border-radius: 15px;
    width: 148px;
    height: 22px;
    padding: 2px 0px;
    font-size: 14px;
}

.tyre7 {
    margin-top: 4px;
    border: 1px solid #79878d;
    border-radius: 15px;
    width: 148px;
    height: 22px;
    padding: 2px 0px;
    font-size: 14px;
}


.wheel1,
.wheel2,
.wheel3,
.wheel4,
.wheel5,
.wheel6,
.wheel7,
.wheel8,
.wheel9 {
    display: inline-block;
    text-align: center;
    float: left;
    width: 137px;
    margin-right: 30px;
}

.img1 {
    width: 137px;
    padding: 5px 0px;
    text-align: center;
    background-color: white;
    border: 1px solid grey;
    border-radius: 15px;
}

.pw1 {
    font-weight: bold;
    font-size: 15px;
    color: #206988;
    font-family: "Lucida Sans Unicode";
}

.pw1_1 {
    font-size: 13px;
    font-family: "Lucida Sans Unicode";
}

.price {
    margin-top: 2px;
    font-size: 17px;
    font-weight: bold;
    font-style: italic;
    color: #114165;
    margin-left: 19px;
}

.wheel1,
.wheel2,
.wheel3 {
    margin-top: 15px;
}

.wheel1,
.wheel4,
.wheel7 {
    margin-left: 23px;
}

.wheel1,
.wheel2,
.wheel3,
.wheel4,
.wheel5,
.wheel6 {
    margin-bottom: 25px;
}

.wheel7,
.wheel8,
.wheel9 {
    margin-bottom: 31px;
}

.heading4 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 3px;
    border: 1px solid black;
    border-radius: 15px;
    width: 179px;
    height: 24px;
    padding-left: 2px;
    padding-top: 1px;
    box-shadow: 1px 2px 2px rgba(0,0,0,0.5);
    margin-left: 10px;
}

.catalog5 {
    display: inline-block;
    width: 20px;
    height: 20px;
    color: white;
}

.catalog6 {
    font-size: 13px;
    font-family: "Lucida Sans Unicode";
    color: #114165;
    margin-left: 6px;
    letter-spacing: 0.5px;
}

.brands1_1,
.brands5_1 {
    background-color: #114165;
    width: 12px;
    height: 12px;
    padding: 5px;
    border-radius: 100%;
    margin-left: 4px;
}

.brands4 {
    margin-top: 4px;
}

.forms5 {
    display:inline-block;

}

.brands2_1,
.brands3_1,
.brands4_1 {
    width: 9px;
    height: 9px;
    vertical-align: middle;
    margin-top: -3px;
    margin-right: 13px;
}

.brands2_1 {
    margin: auto;
    margin-right: 10px;
    width: 11px;
    height: 11px;
    vertical-align: middle;
}

.brands1,
.brands2,
.brands3,
.brands4,
.brands5 {
    display: inline-block;
    vertical-align: middle;
    font-family: "Lucida Sans Unicode";
}


.brand1,
.brand5 {
    margin-top: 14px;
    border: 1px solid #79878d;
    border-radius: 15px;
    width: 135px;
    height: 22px;
    padding: 2px 0px;
    margin-left: 23px;
    color: #0c3256;
}

.brand2,
.brand3,
.brand4 {
    margin-top: 10px;
    margin-left: 34px;
    font-size: 12px;
    color: #465961;
}


.button {
    display: inline-block;
    margin: 21px 0px 0px 33px;
    text-decoration: none;
    padding: 6px 5px 4px 5px;
    background: linear-gradient(to top, #0d3458, #1f6787);
    border: 1px solid black;
    border-radius: 15px;
    height: 25px;
    width: 68px;
    font-size: 11px;
    color: white;
    text-align: center;

}

.logos {
    margin: 36px -27px 22px -97px;
    text-align: center;
    position: relative;

}

.logo1,
.logo2,
.logo3,
.logo4,
.logo5,
.logo6,
.logo7,
.logo8 {
    float: left;
    display: inline-block;
    margin: 0px 10px;
    vertical-align: middle;
}

.logo1 {
    margin-left: 370px;
    margin-top: 3px;
}

.logo2 {
    margin-top: 3px;
    margin-left: 3px;
}

.logo3 {
    margin-top: 3px;
    margin-left: 3px;
}

.logo4 {
    margin-top: 3px;
    margin-left: 3px;
}

.logo5 {
    margin-top: 3px;
    margin-left: 3px;
}

.logo6 {
    margin-top: 0px;
    margin-left: 3px;
}

.logo7 {
    margin-top: 4px;
    margin-left: 3px;
}

.logo8 {
    margin-top: 4px;
    margin-left: 4px;
}

footer {
    height: 100px;
    background-color: #213a4d;
}

.footer1 {
    text-align: center;
    padding-top: 6px;
    margin-bottom: 15px;
    font-size: 10px;
}

.footer1_2,
.footer1_3,
.footer1_4,
.footer1_5,
.footer1_6,
.footer1_7 {
    display: inline-block;
    margin-top: 5px;
    margin-left: 8px;
}

.footer1_1 {
    display: inline-block;
    margin-top: 5px;
    margin-left: 2px;
}

.footer1_3 {
    display: inline-block;
    margin-top: 5px;
    margin-left: 16px;
}

.footer1_5 {
    display: inline-block;
    margin-top: 5px;
    margin-left: 13px;
}

.footer1_7 {
    display: inline-block;
    margin-top: 5px;
    margin-left: 16px;
}

.footer1_1,
.footer1_3,
.footer1_5,
.footer1_7 {
    font-size: 9pt;
    color: #bec6c9;
}

.footer1_1:hover,
.footer1_3:hover,
.footer1_5:hover,
.footer1_7:hover {
    color: #52abcb;
}

.footer2 {
    text-align: center;
    font-size: 10px;
    color: #7f4740;
}
